body{
    padding: 50px;
}
.operation{
    min-height: 1500px;
}
.zone1{
    border-right: 1px solid #15395A;
}
.zone2{
    border-right: 1px solid #15395A;
}
.zone3{
    border-right: 1px solid #15395A;
}
.zone4{
    border-right: 1px solid #15395A;
}